torch
transformers
bitsandbytes
langchain
langchain-community
langchain-groq
langchain-huggingface
chromadb
sentence-transformers
openai
pandas
tqdm
tenacity
litellm
crewai
crewai-tools
pypdf2
python-dotenv
huggingface-hub
huggingface
faiss-cpu
setuptools
